* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: black;
   color: white;
}
#app{
   margin: 250px 500px;
   width: 300px;
}
button{
   padding: 15px 40px;
   font-size: 25px;
   margin-bottom: 20px;
}

li{
   padding: 5px 0;
   list-style-type: none;
}
